[submodule "ssphh"]
	path = ssphh
	url = https://github.com/microwerx/ssphh
[submodule "ssphh-data"]
	path = ssphh-data
	url = https://github.com/microwerx/ssphh-data
[submodule "fluxions"]
	path = fluxions
	url = https://github.com/microwerx/fluxions
[submodule "hatchetfish"]
	path = hatchetfish
	url = https://github.com/microwerx/hatchetfish
[submodule "fluxions-gte"]
	path = fluxions-gte
	url = https://github.com/microwerx/fluxions-gte
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "fluxions-base"]
	path = fluxions-base
	url = https://github.com/microwerx/fluxions-base
[submodule "viperfish"]
	path = viperfish
	url = https://github.com/microwerx/viperfish
[submodule "unicornfish"]
	path = unicornfish
	url = https://github.com/microwerx/unicornfish
[submodule "damselfish"]
	path = damselfish
	url = https://github.com/microwerx/damselfish
[submodule "starfish"]
	path = starfish
	url = https://github.com/microwerx/starfish
[submodule "fluxions-ssg"]
	path = fluxions-ssg
	url = https://github.com/microwerx/fluxions-ssg
[submodule "fluxions-renderer-gles30"]
	path = fluxions-renderer-gles30
	url = https://github.com/microwerx/fluxions-renderer-gles30
[submodule "fluxions-renderer"]
	path = fluxions-renderer
	url = https://github.com/microwerx/fluxions-renderer
